/*Main CSS*/

/** {
	font-family: 'Audiowide', cursive;
}
*/
/** {
	font-family: 'Source Sans Pro', sans-serif;
}*/
* {
	font-family: 'Muli', sans-serif;
}

/* html, body { overflow-x: hidden; } */

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
 	text-decoration: none;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
/*  max-width: 1300px; /* or 950px */*/
  padding:0px;
}

.easImage{
	margin-top:20px;
	width:65%;
	opacity: 0.7;
}

.col-centered{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.top-project{
	height: 15%;
}
.row-space {
	margin-top: 200px;
}
.space-bottom{
	margin-bottom: 20px;
}
.discovery {
	margin-top: 20px;
	margin-bottom: 40px;
}
#profileImage{
	width: 50%;
	margin-top:100px;
}

img {
	width: 100%;
/*   max-height: 100%;*/
}

.projectImage {
	width: 300px;
	height: 300px;
}

.projectTitle {
	margin-top: 10px;
	margin-bottom: 50px;
}

.sw-background {
	background-color: #DBF1FF;
}
.in-progress {
	background-color: black;
}

.sw_section{
	background-color: white;
}

#swLogo{
/*	height: 100%;*/
/*	width: 100%;*/
/*width: 10%;
height: 10%;*/
}

video { 
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: 100;
    object-fit: contain;
}

.burp-vid{
	margin-top: 10px;
}

.project-vid {
	width: 100%;
	height: 100%;
}

.vr-trainer-img{
	width: 50%;
}
.project-vid-mid {
	width: 60%;
	height: 60%;
}
.project-text {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.swipe-text{
	padding-left: 20px;
}
.peat-text{
	padding-right: 20px;
}
.project-vid-container{
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.inverse {
	color: white;
	background-color: black;
}
.project {
	height: 100%;
}
.video-container {
	display: inline-block;
	z-index: 99;
}
.project-overlay-text {
	margin-left: 10%;
	width: 50%;
	z-index: 100;
	position: absolute;
}

.center{
	text-align:center;
}
.socialIconRow{
	margin-top: 20px;
}
.social-box{
	overflow:visible;
	height: 25px;
}
.socialLink{
	width: 50px;
	height: 100%;
}
.filler-small{
	height: 5%;
	background-color: black;
}
.filler-small-white{
	height: 5%;
	background-color: white;
}
.filler-med{
	height: 25%;
	background-color: black;
}

.filler{
	height: 40%;
	background-color: black;
}
.filler-white{
	height: 25%;
	background-color: white;
}
.filler-sw{
	height: 25%;
	background-color: #DBF1FF;
}
.filler-gray{
	height: 25%;
	background-color: #AFB1B1;
}
.thorBackground{
	background-color: #AFB1B1;
	margin-bottom: 0px;
}
.filler-sw-mini{
	height: 5%;
	background-color: #DBF1FF;
}
.filler-bottom{
	background-color: black;
	height:70px;
}
.description-text{
	vertical-align: top;
}

ul {
	list-style-type: none;
}

.bottom-profile {
	margin-bottom: 10px;
	height: 50px;
	font-size: 10pt;
}
.bottom-social {
	margin-bottom: 30px;
}
.bottom-profile-company {
	height: 50pt;
	margin-top: 50px;
	margin-bottom: 50px;
}
.social-row-bottom{
	margin-bottom: 10px;
}

.bottom-project {
	height: 30%;
	padding-left: 10px;
	padding-right: 10px;
}

.downloadLink {
	width: 50%;
}

/*li {

}*/

.spooks {
	height: 100%;
	width: 100%;
}

.spooks-row{
	height: 50%;
}
.spooks-div{
 height: 50%;
}



@media (max-width: 750px) {
	.filler-med{
		height: 55%;
	}
	#profileImage{
		width: 100%;
	}
	.bottom-project{
		margin-top: 25px;
	}
	.downloadLink {
		width: 100%;
	}

	.socialLink {
		height: 30px;
		width: 30px;
	}
	.project {
		height: 300px;
	}
	video {
		height: 50%;
	}
	.filler {
		height: 300px;
	}
}
